<h1>Viewing list of dogs</h1>
<p>
  <%= link_to "Add new dog", new_dog_path %> |
  <%= link_to "View employees", employees_path %>
</p>
<hr>
<ul>
  <% @dogs.each do |dog| %>
    <li><%= link_to dog.name, dog_path(dog) %></li>
  <% end %>
</ul>